* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task-list {
  display: flex;
}

.task-item {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 5px;
}

.task-item p {
  margin-left: 10px;
}

.add-task-form{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
